{% extends 'base.html' %}
{% block title %}{{ todo.title }}{% endblock %}

{% block content %}
<div class="col-md">
    <h1>{{todo.title}}</h1>
        {% if todo.done %}
        <p><strong>Status: </strong>Finalizada.</p>
        {% else %}
        <p><strong>Status: </strong>Não finalizada.</p>
        {% endif %}
    <p>
        <strong>Descrição:</strong>
        {{ todo.description }}
    </p>
    <form method="post"> 
        {% csrf_token %}
        <a class="add-link" href="{% url 'Todo:edit' todo.id %}"><div class="edit-div">Editar</div></a>
    </form>
</div>
{% endblock %}