{% extends 'base.html' %}
{% block title %}Lista de Tarefas{% endblock %}
{% load crispy_forms_tags %}

{% block content %}
<div class="row">
    <div class="col-md">
        <h1>Criar nova tarefa</h1>
        <form method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <button class="btn btn-primary" type="submit">Criar Tarefa</button>
        </form>
    </div>
    <div class="col-sm">
        <h1>Lista de tarefas</h1>
            <tr>
                {% for todo in all_todos %}
                    <td>{{ todo.title }}</td>
                    <td><a id="space" href="{% url 'Todo:detail' todo.id %}">Detalhes</a></td><br>
                    <hr>
                {% empty %}
                    <p>Você ainda não criou nenhuma tarefa!</p>
                {% endfor %}
            </tr>
    </div>
</div>
{% endblock %}