#space{
    float: right;
    padding-right: 100px;
}

.col-md{
    padding-left: 5px;
    padding-right: 40px;
}

.col-sm {
    padding-left: 10px;
}

.edit-div {
    width: 70px;
    background-color: #188251;
    cursor: pointer;
    color: white;
    padding: 10px;
    padding-left: 15px;
    border-radius: 5px;
    margin-right: 25px;
    box-shadow: transparent;
    text-shadow: transparent;
}

.delete-div {
    width: 100px;
    height: 40px;
    background-color: #c23c3c;
    cursor: pointer;
    color: white;
    padding: 8px;
    padding-left: 10px;
    border-radius: 5px;
    margin-right: 25px;
    box-shadow: transparent;
    text-shadow: transparent;
    float: right;
    text-align: center;

}

#add-link{
    text-decoration: none;
    color:white
}
